







</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
<script>
function load(){

  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }



}




</script>
</html>
