<%- include('partials/header'); -%>


    <h1>Compose Your Thoughts</h1>

    <form action="/compose" method="post">

        <div class="input-group-text">
            <label for="titleBox">Title</label>
            <br>
            <input type="text"  class="form-control" placeholder="Whats on your mind....." name="title" >
        </div>

        <div class="input-group-text" id="box2">
            <label for="postbox">post</label><br>

            <textarea class="form-control" id="postbox" name="post" rows="4"  name="post"> </textarea>

        </div>


        <!-- <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div> -->


        <button class="btn btn-primary" name="publish" value="home">Publish</button>
    </form>




    <%- include('partials/footer'); -%>